/* ---------------------------------------- */
/* App Header */

#appHeader {
    width: 100%;
    
    color: #4047EF;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    position: absolute;
    top: 30px;
    transform: translate(-3px, 0px);
}


/* ---------------------------------------- */
/* App Container 1 */

#whiteBackplate1 {
    width: 300px;
    height: 480px;

    border: 0;
    border-radius: 10px;

    background-color: white;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-150px, -240px);
}

#appContainer1 {
    width: 300px;
    height: 480px;

    border: 0;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-150px, -240px);
}

#appMainContent1 {
    width: 300px;
    
    position: absolute;
    top: 80px;
}

#instructions1 {
    padding: 0px 20px 0px 20px;
    border: 0;
    margin: 0px 0px 20px 0px;

    color: #4047EF;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;


    position: relative;
    top: 0px;
}

#inputDiv {
    width: 260px;
    padding: 0px 20px 0px 20px;

    background-color: red;
    /* change background-color to show placement of Div */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    line-height: 1.5;

    position: relative;
    top: 0px;
}


/* ---------------------------------------- */
/* App Container 2 */

#whiteBackplate2 {
    width: 700px;
    height: 2000px;

    border: 0;

    background-color: white;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-350px, 0px);
}

#appContainer2 {
    width: 700px;
    height: 2000px;

    border: 0;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-350px, 0px);

    z-index: 2; 
}

#appMainContent2 {
    width: 700px;
    height: 2000px;
    
    background-color: lightblue;
    /* change background-color to show placement of Div */

    position: absolute;
    top: 80px;
}

#buttonReset1 {
    position: relative;
    left: 20px;
}

#buttonReset2 {
    position: relative;
    left: 20px;
}

#buttonResetContainer1 {
    width: 700px;

    margin: 0px 0px 20px 0px;

    background-color: grey;
    position: relative;
    left: 0px;
}

#buttonResetContainer2 {
    width: 700px;

    margin: 0px 0px 20px 0px;

    background-color: grey;
    position: relative;
    left: 0px;
    float: left;
}

#weatherInfoDiv {
    width: 660px;
    padding: 0px 20px 0px 20px;

    background-color: red;
    /* change background-color to show placement of Div */

    position: relative;
}

#instructions2 {
    padding: 0px 20px 20px 20px;

    color: #4047EF;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;

    position: relative;
}

#iconsAppearHereDiv {
    width: 700px;
    height: 0px;

    padding: 0px;

    background-color: green;
    /* change background-color to show placement of Div */

    position: relative;
}

.iconDiv {
    width: 128px;
    height: 130px;

    margin: 5px 5px 5px 5px;
    border: 1px solid #a1a1a1;
    border-radius: 10px;

    background-color: #FFE51A;
    text-align: center;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    cursor: pointer;
    outline: 0;

    float: left;
}

.iconDiv:hover {
    background-color: cyan;
}

.iconImage {
    width: 80px;
    height: 80px;

    border: 1px solid #a1a1a1;
    margin: 4px 0px 1px 0px;

    background-color: white;

    position: relative;
    top: 0px;
}

.iconText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#spacer1 {
    width: 700px;
    height: 20px;

    background-color: pink;

    position: relative;
    top: 0px;
    float: left;
}

#clothingAppearHereDiv {
    width: 660px;
    height: 300px;

    padding: 20px 20px 0px 20px;

    background-color: orange;
    /* change background-color to show placement of Div */

    position: relative;
    top: 0px;
    float: left;
}


/* ---------------------------------------- */
/* ---------------------------------------- */
/* MEDIA QUERIES */

/* When Screen Size Max-Width is 500px */
/* (375px is viewport width of iPhone X in vertical) */

@media screen and (max-width: 500px) {

    #whiteBackplate2 {
        width: 300px;
        height: 100%;
    
        border: 0;
    
        background-color: white;
    
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-150px, 0px);
    }

    #buttonReset {
        position: absolute;
        left: 220px;

    }

    #weatherInfoDiv {
        width: 260px;

        position: absolute;
        left: 200px;
    }

    #instructions2 {
        width: 260px;

        position: absolute;
        left: 200px;

    }

    #iconsAppearHereDiv {
        width: 282px;

        padding: 9px;

        position: absolute;
        left: 200px;
    }

    #clothingAppearHereDiv {
        width: 260px;

        position: absolute;
        left: 200px;
    }

}