/* ---------------------------------------- */
/* App Header */

#appHeader {
    width: 100%;
    
    color: #4047EF;
    font-size: 40px;
    font-family: 'Pattaya', sans-serif;
    text-align: center;

    position: absolute;
    top: 30px;
    transform: translate(-3px, 0px);
}


/* ---------------------------------------- */
/* App Container 1 */

#whiteBackplate1 {
    width: 300px;
    height: 420px;

    border: 0;
    border-radius: 10px;

    background-color: white;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-150px, -210px);
}

#appContainer1 {
    width: 300px;
    height: 420px;

    border: 0;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-150px, -210px);
}

#appMainContent1 {
    width: 300px;
    
    position: absolute;
    top: 90px;
}

#instructions1 {
    padding: 0px 20px 0px 20px;
    border: 0;
    margin: 0px 0px 20px 0px;

    color: #4047EF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2;


    position: relative;
    top: 0px;
}

#inputDiv {
    width: 260px;
    padding: 0px 20px 0px 20px;

    background-color: none;
    /* change background-color to show placement of Div */
    color: rgb(241, 33, 192);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: right;
    line-height: 2.5;

    position: relative;
    top: 0px;
}

.inputFields {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.inputFields[name="daterange"] {
    color: gray;
}

#buttonSubmit {
    padding: 6px 20px 5px 20px;
    border: 0;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;

    background-color: rgb(241, 33, 192);

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    outline: 1;

    display: inline-block;
}

#buttonSubmit:hover {
    background-color: rgb(53, 90, 235);
    color: white;
}


/* ---------------------------------------- */
/* App Container 2 */

#whiteBackplate2 {
    width: 720px;
    height: 100%;

    border: 0;

    background-color: white;

    /*
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */
    
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-360px, 0px);
}

#appContainer2 {
    width: 720px;
    height: 100%;

    border: 0;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-360px, 0px);
}

#appMainContent2 {
    width: 720px;
    
    background-color: white;
    /* change background-color to show placement of Div */

    position: absolute;
    top: 80px;
}

#buttonReset1 {
    padding: 6px 26px 5px 26px;
    border: 0;
    border-radius: 5px;
    margin: 0px;

    background-color: rgb(241, 33, 192);

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    outline: 1;

    display: inline-block;

    position: relative;
    left: 0px;
}

#buttonReset1:hover {
    background-color: rgb(53, 90, 235);
    color: white;
}

#buttonReset2 {
    padding: 6px 26px 5px 26px;
    border: 0;
    border-radius: 5px;
    margin: 0px;

    background-color: rgb(241, 33, 192);

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    outline: 1;

    display: inline-block;

    position: relative;
    left: 0px;
}

#buttonReset2:hover {
    background-color: rgb(53, 90, 235);
    color: white;
}

#buttonResetContainer1 {
    width: 690px;

    margin: 5px 0px 30px 0px;

    background-color: none;
    /* change background-color to show placement of Div */

    position: relative;
    left: 15px;
}

#buttonResetContainer2 {
    width: 690px;

    margin: 0px 0px 40px 0px;

    background-color: none;
    /* change background-color to show placement of Div */

    position: relative;
    left: 15px;
    float: left;
}

#weatherInfoDiv {
    width: 684px;

    padding: 0px 18px 0px 18px;

    background-color: none;
    /* change background-color to show placement of Div */
    color: #3e3e3e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2;

    position: relative;
}

#instructions2 {
    width: 684px;

    padding: 0px 18px 20px 18px;
    margin: 10px 0px 5px 0px;

    background-color: none;
    /* change background-color to show placement of Div */
    color: #4047EF;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;

    position: relative;
}

#iconsAppearHereDiv {
    width: 700px;
    height: 0px;
    /* change height to show placement of Div */

    background-color: none;
    /* change background-color to show placement of Div */

    position: relative;
    left: 10px;
}

.iconDiv {
    width: 128px;
    height: 130px;

    margin: 5px 5px 5px 5px;
    border: 1px solid #a1a1a1;
    border-radius: 10px;

    background-color: #ffe371;
    text-align: center;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    cursor: pointer;
    outline: 0;

    float: left;
}

.iconDiv:hover {
    background-color: rgb(53, 90, 235);
    color: white;
}

.iconImage {
    width: 80px;
    height: 80px;

    border: 1px solid #a1a1a1;
    margin: 4px 0px 1px 0px;

    background-color: white;

    position: relative;
    top: 0px;
}

.iconText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#spacer1 {
    width: 720px;
    height: 30px;

    background-color: none;
    /* change background-color to show placement of Div */

    position: relative;
    top: 0px;
    float: left;
}

#clothingAppearHereDiv {
    width: 660px;
    height: 300px;

    padding: 20px 20px 0px 20px;

    background-color: orange;
    /* change background-color to show placement of Div */

    position: relative;
    top: 0px;
    float: left;
}


/* ---------------------------------------- */
/* ---------------------------------------- */
/* MEDIA QUERIES */

/* When Screen Size Max-Width is 500px */
/* (375px is viewport width of iPhone X in vertical) */

@media screen and (max-width: 500px) {

    #whiteBackplate2 {
        width: 300px;
        height: 100%;
    
        border: 0;
    
        background-color: white;
    
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-150px, 0px);
    }

    #appMainContent2 {
        width: 300px;
        
        background-color: none;
        /* change background-color to show placement of Div */
    
        position: absolute;
        top: 80px;
        left: 210px;
    }

    #buttonReset1 {
        transform: translate(-3px, 0px);
    }

    #buttonReset2 {
        transform: translate(-3px, 0px);
    }

    #buttonResetContainer1 {
        width: 300px;

        background-color: none;
        /* change background-color to show placement of Div */
        text-align: center;

        position: relative;
        left: 0px;
    }

    #buttonResetContainer2 {
        width: 300px;

        background-color: none;
        /* change background-color to show placement of Div */
        text-align: center;

        position: relative;
        left: 0px;
    }

    #weatherInfoDiv {
        width: 260px;

        position: relative;
        left: 0px;
    }

    #instructions2 {
        width: 260px;

        position: relative;
        left: 0px;

    }

    #iconsAppearHereDiv {
        width: 282px;

        padding: 9px;

        position: relative;
        left: 0px;
    }

    #clothingAppearHereDiv {
        width: 260px;

        position: relative;
        left: 0px;
    }

}